# Ubah ke 'true' jika kantor mengaktifkan OTP lagi
REQUIRE_OTP=false

# Akan kosong saat pertama kali di-deploy
VPN_OTP=

# GANTI DENGAN IP STB ANDA
STB_IP=

# GANTI DENGAN IP MIKROTIK ANDA
MIKROTIK_HOST=user@ip-addr

MIKROTIK_PSSWD=
VPN_PASSWORD=