DOMAIN=
IP_HEADER=X-Forwarded-For
SIGNUPS_ALLOWED=false
ADMIN_TOKEN=
# --- Konfigurasi SMTP ---
SMTP_HOST=smtp.gmail.com
SMTP_FROM=
SMTP_FROM_NAME=Vaultwarden Homelab
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_USERNAME=
SMTP_PASSWORD=
# vaultwarden-backup
ZIP_PASSWORD=
BACKUP_KEEP_DAYS=30
CRON=0 2 * * *
